
@font-face {
	font-family: 'Avenir';
	src: url('../fontface/Avenir.ttc');
}

* {
	margin: 0;
	padding: 0;
	background: transparent;
}

html {
	width: 100%;
	height: 100%;
	font-size:20px;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
}

.application {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	-webkit-app-region: drag;
}

.player {
	position: relative;
	width: 100%;
	height: 100%;
}


/*
 * Controller
 * 视频控制组件
 */

.video-controller {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	opacity: 1;
	transition: opacity 200ms;

	.background {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.3;
		background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.19) 62%, rgba(0,0,0,0.29) 100%);
	}

	.playstate {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.progress {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: (80rem/16);
	}

	.progress--played {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;

		.line {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: (4rem/16);
			background: #FFFFFF;
			box-shadow: 0 0 (20rem/16) 0 rgba(255,255,255,0.50);
			transition: height 200ms;

			&.line--mouseover {
				height: (15rem/16);
			}
		}

		.light {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: (450rem/16);
			opacity: 0.1;
			background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 76%, #FFFFFF 100%);
		}
	}


	.timing {
		position: absolute;
		bottom: (42rem/16);
		left: (55rem/16);
		// width: 100%;
		height: (35rem/16);

		.time {
			display: inline-block;
			color: #FFFFFF;
			font: 600 (35rem/16) 'Avenir';
			line-height: (24rem/16);
			letter-spacing: (0.2rem/16);
			user-select: none;
			opacity: 0.5;
		}

		.timing--current {
			opacity: 1;
		}
	}

	.volume {
		position: absolute;
		bottom: (40rem/16);
		right: (130rem/16);
		width: (55rem/16);
		height: (259rem/16);

		.volume--bar {
			position:absolute;
			bottom: (64rem/16);
			left:(19rem/16);
			border-radius: (1rem/16);
			width:(15rem/16);
			height:(156rem/16);
			opacity: 0;
			transition: opacity 200ms;
			overflow: hidden;

			&.volume--mouseover {
				opacity: 1;
			}

			.volume--blur{
				position:absolute;
				left:(-10rem/16);
				width:(100rem/16);
				height:(156rem/16);
				background-color:white;
				-webkit-filter: blur(3px);
				filter: blur(3px);
				overflow: hidden;
				opacity: 0.2;
			}
		}




		.volume--current {
			border-radius: (1rem/16);
			position:absolute;
			bottom: (64rem/16);
			left:(19rem/16);
			width:(15rem/16);
			height:(131rem/16);
			background-color: white;
			opacity: 0;
			transition: opacity 200ms;
			&.volume--mouseover {
				opacity: 0.7;
			}
		}

		.volume--button {
			position:absolute;
			bottom: (180rem/16);
			left:(19rem/16);
			width:(15rem/16);
			height:(15rem/16);

			&.volume--mouseover {
				background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255,255,255,0.00) 100%);
			}
		}
	}

	.advanced {
		position: absolute;
		bottom: (40rem/16);
		right: (50rem/16);
		width: (55rem/16);
		height: (259rem/16);
	}

	.button {
		position: absolute;
		bottom: 0;
			width: (55rem/16);
			height: (44rem/16);

		embed {
			width: (55rem/16);
			height: (44rem/16);
			pointer-events: none;
		}
	}

	&.video-controller--mouseout {
		opacity: 0;
	}
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: (4／16);
	overflow: hidden;

	video {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
