@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes disappear {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@font-face {
  font-family: 'Avenir';
  src: url("../fontface/Avenir.ttc"); }
* {
  margin: 0;
  padding: 0; }

html {
  width: 100%;
  height: 100%;
  background: transparent !important; }

#splayer {
  background: transparent !important;
  position: relative;
  width: 100%;
  height: 100%; }

.main {
  background: transparent !important;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden; }

.video-box {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: transparent !important; }
  .video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.widget {
  animation: appear 300ms;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: transparent;
  overflow: hidden;
  z-index: 100; }
  .widget .widget-middle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .widget .widget-lower {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%; }
    .widget .widget-lower .widget-lower-gradient {
      z-index: 100;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.19) 62%, rgba(0, 0, 0, 0.29) 100%); }
    .widget .widget-lower .widget-lower-buttons {
      z-index: 101;
      position: absolute;
      bottom: 20px;
      width: 100%;
      height: 120px; }
      .widget .widget-lower .widget-lower-buttons .widget-lower-buttons-left {
        position: absolute;
        left: 30px;
        bottom: 0; }
      .widget .widget-lower .widget-lower-buttons .widget-lower-buttons-right {
        position: absolute;
        right: 30px;
        bottom: 0;
        overflow: hidden; }
        .widget .widget-lower .widget-lower-buttons .widget-lower-buttons-right .widget-lbr-item {
          position: relative;
          float: right;
          width: 30px;
          height: 120px;
          margin-left: 15px; }
    .widget .widget-lower .widget-lower-progress {
      z-index: 102;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%; }
      .widget .widget-lower .widget-lower-progress .interactive-area {
        position: absolute;
        z-index: 300;
        bottom: 0;
        width: 100%;
        height: 30px;
        background: transparent; }
      .widget .widget-lower .widget-lower-progress .progress-normal {
        position: relative;
        bottom: 0;
        width: 0;
        height: 100%;
        transition: width 200ms linear; }
        .widget .widget-lower .widget-lower-progress .progress-normal .line-bar {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background: #FFFFFF;
          box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5);
          transition: height 200ms; }
        .widget .widget-lower .widget-lower-progress .progress-normal .line-bar.line-bar-mouseover {
          height: 10px; }
        .widget .widget-lower .widget-lower-progress .progress-normal .gradient {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          opacity: 0.1;
          background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 46%, #FFFFFF 100%); }
      .widget .widget-lower .widget-lower-progress .progress-background {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background: #fff;
        opacity: 0;
        transition: opacity 200ms; }
      .widget .widget-lower .widget-lower-progress .progress-background.progress-background-mouseover {
        opacity: 0.2; }

.widget-mouseout {
  opacity: 0;
  animation: disappear 300ms; }

#button-time {
  color: #FFFFFF; }
  #button-time span#info-current-time {
    display: inline-block;
    font-family: 'Avenir';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.2px; }
  #button-time span.time-split {
    display: inline-block;
    margin: 0 2px;
    opacity: 0.5;
    font-family: 'Avenir';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.2px; }
  #button-time span#info-duration {
    display: inline-block;
    opacity: 0.5;
    font-family: 'Avenir';
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 0.2px; }

#widget-advanced #button-advanced {
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 24px; }
  #widget-advanced #button-advanced embed {
    width: 30px;
    height: 24px; }

#widget-volume #button-volume {
  position: absolute;
  bottom: 0px;
  width: 30px;
  height: 24px; }
  #widget-volume #button-volume embed {
    width: 30px;
    height: 24px; }

#button-play {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -42.5px;
  margin-left: -42.5px;
  width: 85px;
  height: 85px; }
  #button-play embed {
    width: 85px;
    height: 85px; }

/*# sourceMappingURL=style.css.map */
